ngetty
locales
wicd
slim
xorg
xfce4
lxterminal
iceweasel
sylpheed
u-boot-tools
whois
initramfs-tools
busybox
ssh
firmware-linux-free
gnome-icon-theme-extras
vlc
xfce4-goodies
synaptic
gdebi
gedit
evince-gtk
less
vim
console-setup
user-setup
